@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
  font-family: 'stretch';
  src: url('StretchPro.otf') format(opentype);
  font-weight: normal;
}

* {
  margin: 0px;
  padding: 0px;
}

:root {
  --cor1:#9B0FFF;
  --cor2:#850DDB;
  --cor3:#6D0BB3;
  --cor4:#54088A;
  --cor5:#3B0661;
  --cor6:#000019;
  --cor7:#00002e;

  --fontedestaque: 'Bebas Neue', curisve;
  --fontenova: 'stretch', sans-serif;
  }

body {
  background-image: url(fundo.jpg);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

header {
  background-image: linear-gradient( to top, var(--cor5), var(--cor4));
  text-align: center;
  min-height: 150px;
  padding-top: 40px;
}

header > h1 {
  font-family: var(--fontenova);
  font-size: 3.5em;
  text-shadow: 1px 1px 2px var(--cor2);
  margin-bottom: 20px;
  color: white;
}

header > p {
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.450);
  max-width: 600px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

header strong {
  color: var(--cor1);
}

main {
  background-image: linear-gradient(to bottom, var(--cor6), var(--cor7));
  margin: auto;
  min-width: 290px;
  max-width: 1000px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
}

main h1 {
  font-weight: bold;
  padding: 10px 0px 30px 0px;
  text-align: center;
  font-size: 1.5em;
  color: black;
}

main h2 {
  font-weight: bold;
  padding: 10px 0px 30px 0px;
  text-align: center;
  font-size: 1.5em;
  color: black;
}

main em {
  color: darkgray;
  display: block;
  text-align: center;
}

main .link {
  color: var(--cor2);
  text-decoration: none;
  font-weight: bold;
}

main .link:hover {
  text-decoration: underline;
}

article {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

main p {
  margin: 15px 0px;
  text-align: justify;
  text-indent: 30px;
  line-height: 2em;
  margin-bottom: 50px;
}

main img {
  width: 100%;
}

main .pequena {
  max-width: 500px;
  display: block;
  margin: auto;
}

main .video {
  margin: 0px -20px 30px -20px;
  padding: 20px;
  padding-bottom: 57%;
  position: relative;
}

.video > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside {
  background-image: linear-gradient( to top, var(--cor5), var(--cor4));
  padding: 10px;
  text-align: center;
}

aside > a {
  color: white;
  text-decoration: none;
  text-align: center;
}

aside > a:hover {
  text-decoration: underline;
}

aside .normal {
  padding: 10px;
  text-align: center;
}

aside .block-top {
  display: block;
  padding: 8px;
  margin-top: 20px;
}

aside .block {
  display: block;
  padding: 8px;
}

aside footer {
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
  margin: 3.5px;
  }
